@media all and (max-width: 767px) { /* SMALL SM */

}

@media all and (min-width: 768px) and (max-width: 991px) { /* MEDIUM MD */
.text-jumbo {
    width: 100%;
}
}

@media all and (min-width: 992px) and (max-width: 1199px) { /* LARGE LG */
.text-jumbo {
    width: 100%;
}  
}

@media all and (min-width: 1200px) and (max-width: 1399px) { /* EXTRA LARGE XL */
.text-jumbo {
    max-width: 300px;
}
}

@media all and (min-width: 1400px){ /* EXTRA EXTRA LARGE */
.text-jumbo {
    max-width: 300px;
} 
}
