[class*="col"] {
    min-height: 100px;
    border: 1px solid #fff;
    background-color: green;
}


[class*="col-"] {
    min-height: 100px;
    border: 1px solid #fff;
    background-color: blue;
}


/* HEADER > NAV RULES */

.top-nav {
    background-color: red;
    width: 100%;
}

/* JUMBOTRON RULES */

.image-jumbo {
    background-image: url(img/jumbo-bg.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbo-margin {
    width: 80%;
    height: 100%;
    margin: auto;
}

.jumbo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 100%%;
}

.jumbo-logo>img {
    width: 400px
}
#test {
    max-width: 300px;
}