/* GENERAL RULES */

/* [class*="col"] {
    min-height: 100px;
    border: 1px solid #fff;
    background-color: green;
}


[class*="col-"] {
    min-height: 100px;
    border: 1px solid #fff;
    background-color: blue;
} */

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.button>a {
    text-decoration: none;
    color: #fff;
    background-color: #cd3d0f;
}



/* NAV RULES */

/* NAV-TOP RULES */
/* BANNER PLAYSTATION */

/* NAV-DOWN RULES */
/* NAVBAR-MAIN */




/* JUMBOTRON-1 RULES */
/* RETURNAL JUMBO */
.image-jumbo-1 {
    height: 800px;
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grill-jumbo {
    width: 95%;
    margin: auto;
    color: #fff;
    padding-top: 350px;
}

.image-logo-returnal>img {
    min-width: 50%;
    max-width: 100%;
}

.text-jumbo-inside>h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.jumbotron1-button {
    margin-top: 30px;
}

.jumbotron1-button>a {
    background-color: #cd3d0f;
    font-weight: 900;
}

/* UNDER JUMBO */
.videogame-box>img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}



/* MAIN RULES */

/* MAIN - SECTION-1 RULES */
/* PLAYSTATION5 DEVICE */
.title-section1 {
    text-align: center;
}

.title-section1 h5 {
    margin-top: 30px;
}

.main-title {
    color: black;
}

.secondary-blue-title {
    color: #0072ce
}

.secondary-grey-title {
    color: grey;
}
/* UNDER TITLE CONTENT */
/* RIGHTSIDE */
.text-section1 {
    padding-top: 35%;
}

.text-section1 h5 {
    margin-top: 30px;
}


/* LEFTSIDE */
.image-ps5-section1>img {
    width: 100%;
}

/* UNDER IMAGE CONTENT */
.active-page {
    border-bottom: 5px solid blue;
}

.device-ps5>img {
    width: 100%;
}


/* JUMBOTRON-2 RULES */
/* IT TAKES TWO JUMBO */
.jumbotron2 {
    background-color: #1f1f1f;
    padding-bottom: 50px;
}

.image-jumbo-2 {
    height: 800px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.grill-jumbo2 {
    width: 95%;
    margin: auto;
    color: #fff;
}

.image-logo-takes-two {
    max-width: 500px;
}

.image-logo-takes-two>img {
    width: 100%;
}

.text-jumbo-inside2 {
    max-width: 400px;
    font-weight: 800;
}

.text-jumbo-inside2>h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.under-container {
    padding-top: 50px;
}

.title-under-jumbo {
    color: #fff;
}

.video-game-title {
    padding-top: 10px;
    color: #fff;
}

/* MAIN - SECTION-2 RULES */
/* GADGET PLAYSTATION4 */
.merchbox {
    margin-bottom: 40px;
}

.imageps4>img {
    width: 100%;
}

.text-merchbox h1 {
    margin: 20px 0;
}

.ps4-button {
    margin-top: 40px;
}

.ps4-button>a {
    background-color: #2d64e6;
    font-weight: 700;
}

/* MAIN - SECTION-3 RULES */
/* PLAYSTATION PLUS */
.ps-plus {
    background-color: grey;
}

.container-float-element::after{
    content: "";
    display: table;
    clear: both;
}

.ps-plus-element {
    float: left;
    width: 50%;
}

.image-leftside {
    margin-top: 100px;
}

.image-leftside>img {
    width: 70%;
}

.image-rightside>img {
    width: 100%;
}

.ps-plus-text {
    margin-top: 35px;
}

.button-ps-plus {
    margin-top: 35px;
}

.button-ps-plus>a {
    padding: 8px;
    font-weight: 700;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 15px;
}


/* MAIN - SECTION-4 RULES */
/* NEWS PLAYSTATION STORE */
.news-box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.news-box>img {
    width: 100%;
}

/* MAIN - SECTION-5 RULES */
/* PLAYSTATION NOW "IDENTIC PS-PLUS" */
.ps-now {
    background-color: #161c3b;
    color: #fff;
}

.button-ps-now {
    margin-top: 35px;
}

.button-ps-now>a {
    padding: 8px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 30px;
    color: black;
}



/* MAIN - SECTION-6 RULES */
/* SOCIAL MEDIA */
.container-socialmedia {
    width: 60%;
    margin: auto;
}

.title-socialmedia {
    text-align: center;
    margin-bottom: 50px;
}

.social-box {
    margin-bottom: 50px;
}

.box-click>img {
    width: 100%;
}

/* FOOTER RULES */
#footer {
    background-color: #00439c;
    color: #fff;
}

.logo>img {
    width: 30%;
    margin-bottom: 35px;
}

.list-link {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-list {
    margin: 0;
}

.main-list a {
    color: #fff;
    text-decoration: none;
}

.main-list>li {
    margin-bottom: 10px;
}

/* UNDER FOOTER */
.logo-under-footer {
    margin-top: 50px;
    margin-bottom: 10px;
}

.logo-under-footer>img {
    width: 30%;
}

.text-under-footer {
    font-weight: 700;
    font-size: 18px;
}

#more-info {
    text-decoration: underline;
    color: #fff;
}